<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
<nav class="nav navbar-light bg-light fixed-top">
    <div style="border-radius: 50%; overflow: hidden; width: 3%; max-width: 100vw; margin-left: 2%;">
        <img src="https://img.freepik.com/premium-photo/3d-rendering-green-chrome-arrows-pointing-opposite-directions_190619-2972.jpg?w=740" style="width: 100%;" alt="" loading="lazy">
    </div>
    <span>Business.Employees/></span>
    <a routerLink="/home" routerLinkActive="active"><b>Home Page</b></a>
    <a routerLink="/employeesList" routerLinkActive="active"><b>EmployeesList</b></a>
    <a routerLink="/addEmployee" routerLinkActive="active"><b>Add Employee</b></a>
    <a routerLink="/connection/login" routerLinkActive="active"><b>Connect</b></a>
    <span class="spacer"></span>
    <a (click)="logout()" routerLink="/logout" routerLinkActive="active" *ngIf="connect()"><b>Logout  <i class="fas fa-sign-out-alt"></i></b></a>
</nav>

<br>
<br>
<br>
<br>
<router-outlet></router-outlet>

<footer id="footer">
    <div class="footer__container">
        <div class="footer_about">
            <div style="display: flex; align-items: center;">
                <div style="border-radius: 50%; overflow: hidden; width: 10%; max-width: 100vw; margin-left: 2%;">
                    <img src="https://img.freepik.com/premium-photo/3d-rendering-green-chrome-arrows-pointing-opposite-directions_190619-2972.jpg?w=740" style="width: 100%;" alt="" loading="lazy">
                </div>
                <span style="margin-left: 10px;">Business/></span>
            </div>
            <p>Duis imperdiet sapien tortor, vitae congue diam auctor vitae. Aliquam eget turpis ornare, euismod
                ligul
                aeget, enenatis dui.</p>
        </div>
        <div class="employees__categories">
            <p>CATEGORIES</p>
            <br>
            <div class="categories">
                <ul>
                    <li> <a routerLink="/home" routerLinkActive="active"><b>> Home Page</b></a></li>
                    <li> <a routerLink="/employeesList"><b>> employeesList</b></a></li>
                    <li> <a routerLink="/addEmployee"><b>> addEmployee</b></a></li>
                    <li> <a routerLink="/connection/login"><b>> Connect</b></a></li>
                    <li> <a (click)="logout()" routerLink="/logout" routerLinkActive="active" *ngIf="connect()">>
                            Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="newsletter">
            <p>NEWSLETTER</p>
            <br>
            <p style="font-size: smaller;">SUBSCRIBE HERE NOW</p>
            <br>
            <span>
                <input type="text" placeholder="Email Address" #emailInput><button class="btn"
                    (click)="sendEmail(emailInput.value)"><i class="far fa-paper-plane"></i></button>
            </span>
            <p>Subscribe to our mailing list and get updates to your email inbox.</p>
        </div>
    </div>
    <div class="copyright">
        <p>&#169; 2024 Business/>. All Rights Reserved | WordPress Theme by <strong>ChayaA.</strong> </p>

        <div class="share">
            <div><i class="fab fa-facebook-f"></i></div>
            <div><i class="fab fa-linkedin-in"></i></div>
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-google-plus-g"></i></div>
            <div><i class="fab fa-github"></i></div>
          </div>
    </div>
</footer>